<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
      <H1>{{title}}</H1>
      {% if states is string %}
      <H3>Cities:</H3>
      <UL>
	{% for city in cities|sort(attribute='name') %}
	<LI>City: {{city.id}}: <B><city.name></B></LI>
	{% endfor %}
      </UL>
      {% elif states is iterable %}
      <UL>
	{% for state in states.values()|sort(attribute='name') %}
	<LI>State: {{state.id}}: <B>{{state.name}}</B></LI>
	{% endfor %}
      </UL>      
      {% endif %}
    </BODY>
</HTML>
